* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*font-size: 62.5%;*/
}

input:focus {
  outline: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#trip-list {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #eee;
  box-shadow: 3px 0 4px rgba(0,0,0,0.15);
  padding: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#trip-list ul {
  list-style: none;
}

#trip-list li {
  border-radius: 5px;
  padding: 5px 5px 5px 55px;
  height: 50px;
  margin-bottom: 8px;
  position: relative;
}

#trip-list li:hover {
  background: #e1e1e1;
  cursor: pointer;
}

#trip-list .trip-image {
  position: absolute;
  top: 5px;
  left: 5px;
}

#trip-list li strong {
  display: block;
  font-size: 16px;
  margin-bottom: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#trip-list li div {
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #777;
}

#content {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 20%;
}

#title {
  background: #f9f9f9;
  position: relative;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.15);
  padding: 11px 15px;
  height: 40px;
}

#title input {
  font-size: 15px;
  background: #f9f9f9;
  width: 80%;
}

#bottom-bar {
  position: relative;
  background: #f9f9f9;
  width: 100%;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 3px -3px 4px rgba(0,0,0,0.15);
}

#map-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 40px solid #f9f9f9;
  border-bottom: 120px solid #f9f9f9;
}

