* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*font-size: 62.5%;*/
}

input:focus {
  outline: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#trip-list {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #eee;
  box-shadow: 3px 0 4px rgba(0,0,0,0.15);
  padding: 15px;
}

<<<<<<< HEAD

=======
#trip-list #logo {
  margin-bottom: 7px;
  position: relative;
  z-index: 1;
}
>>>>>>> 5030e875210ea54f9a3ff14c836a30c3741f7cab

#trip-list ul {
  list-style: none;
}

#trip-list #list {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 140px solid #eee;
  border-bottom: 200px solid #eee;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 15px;
}

#trip-list #list li {
  border-radius: 5px;
  padding: 5px 5px 5px 55px;
  height: 50px;
  margin-bottom: 8px;
  position: relative;
}

#trip-list #list li:hover {
  background: #e1e1e1;
  cursor: pointer;
}

#trip-list #list .trip-image {
  position: absolute;
  top: 5px;
  left: 5px;
}

#trip-list #list li strong {
  display: block;
  font-size: 16px;
  margin-bottom: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#trip-list #list li div {
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #777;
}

#trip-list #recos {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #eee;
  padding: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 200px;
  width: 100%;
}

#trip-list #recos li strong {
  display: block;
  font-size: 14px;
  margin-bottom: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#trip-list #recos li div {
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #777;
}

#content {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 20%;
}

#search {
  background: #f9f9f9;
  position: relative;
  padding: 11px 15px;
  height: 40px;
  border-radius: 3px;
  margin-bottom: 13px;
  position: relative;
  z-index: 1;
}

#search input {
  font-size: 15px;
  background: #f9f9f9;
  width: 80%;
}

#header {
  background: #f9f9f9;
  position: relative;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.15);
  padding: 11px 15px;
  height: 40px;
}

<<<<<<< HEAD
#header #logo {
  max-height: 30px;
  z-index: 100000 !important;
}




=======
>>>>>>> 5030e875210ea54f9a3ff14c836a30c3741f7cab
#bottom-bar {
  position: relative;
  background: #f9f9f9;
  width: 100%;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 3px -3px 4px rgba(0,0,0,0.15);
}

#map-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 40px solid #f9f9f9;
  border-bottom: 120px solid #f9f9f9;
}

